<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Pitt Design Hub</title>
    <meta name="description" content="The University of Pittsburgh's Design Hub, a student ideation platform for generating top-notch ideas and creating cross-disciplinary interactions.">
    <meta name="author" content="DESIGNhub">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/css" rel="stylesheet" href="assets/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="assets/css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/img/DesignHubIcon3.ico">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script src="assets/js/smooth-scroll.js"></script>

    {% block head %}{% endblock %}

</head>
<body>


{% block navbar %}
<!-- Navigation Bar -->
<div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-icon">
                    <!--<a class="navbar-link" href="http://www.pittdesignhub.com">Home</a>-->
                    <a data-scroll class="navbar-link" href="http://www.pittdesignhub.com"><img src="assets/img/DesignHub40.png"></a>
                </li>
                <li class="navbar-item">
                    <a data-scroll class="navbar-link" href="http://www.pittdesignhub.com/#about">About</a>
                </li>
                <li class="navbar-item">
                    <a data-scroll class="navbar-link" href="http://www.pittdesignhub.com/#projects">Projects</a>
                </li>
                <li class="navbar-item">
                    <a data-scroll class="navbar-link" href="http://www.pittdesignhub.com/#opportunities">Opportunities</a>
                </li>
                <li class="navbar-item">
                    <a data-scroll class="navbar-link" href="http://www.pittdesignhub.com/calendar">Calendar</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div class="docs-section negative">
    <div class="container">
        <div class="row">
            <div class="four columns" >
                <img src="assets/img/InvertedDesignHub.png" height="100rem">
                <!-- TODO fix picture height and width -->
            </div>
            <div class="eight columns" >
                <!-- TODO make the text white, even though it is a link, I think the white contrasts better-->
                <p><i class="fa fa-envelope"></i> <a href="mailto:hi@pittdesignhub.com">hi@designdesignhub.com</a> <br>
                    <i class="fa fa-github"></i> <a href="https://github.com/mciantyre/designhubweb">Steal the code!</a> </p>
                <!-- Hacked together by Ian McIntyre, Zachary Barnes, Stephanie Lee, Madhur Malhotra, and Michael Urich. <script type="text/javascript">document.write(new Date().getFullYear());</script></h6> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


</body>
<script>
    smoothScroll.init();
</script>
</html>
