<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Pitt Design Hub</title>
    <meta name="description" content="The University of Pittsburgh's Design Hub, a student ideation platform for generating top-notch ideas and creating cross-disciplinary interactions.">
    <meta name="author" content="DESIGNhub">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/css" rel="stylesheet" href="assets/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="assets/css/skeleton.css">
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/img/DesignHubIcon3.ico">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>

    {% block head %}{% endblock %}

</head>
<body>

{% block header %}
{% endblock %}

{% block navbar %}
    <!-- Navigation Bar -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-icon">
                    <a class="navbar-link" href="http://pittdesignhub.com"><img src="assets/img/DesignHub40.png"></a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#about">About</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="docs-section background-map">
        <div class="container">
          <div class="row u-pull-center">
            <div class="twelve columns" style="margin-top: 10%">
                <h1>THANKS</h1>
                <p><a href="https://github.com/ianpmc/designhubweb">Steal the code</a> <i class="fa fa-github"></i> Hacked together by Ian McIntyre, Zachary Barnes, Stephanie Lee, Madhur Malhotra, and Michael Urich. <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}


</body>
</html>
