{% extends "base.html" %}

<!-- Header, welcome, value proposition -->
{% block header %}
<div class="docs-section background-1765" >
    <div class="container">
        <!--TODO Insert Design Hub slogan on left side of page, Make buttons transparent below-->
        <div class="row value-props">
            <div class="twelve columns">
                <!--<p><a class="button button-landing" href="https://docs.google.com/forms/d/1_Ww2tlPyzDSVggttQ1mjFWeGlqo-Vf6EtZr9RkQ3MX0/viewform">SUBSCRIBE</a></p>  
                <!-- <p><a class="button button-landing" href="https://www.dropbox.com/s/b75y9r6l6bh8jss/ProjectBoardApplication2015.doc?dl=0" target="_blank">FUND YOUR IDEAS</a></p> -->
            </div>
        </div>

    </div>
</div>

<div class="docs-section negative" id="about">
    <div class="container">
        <div class="row"> 

            <div class="six columns">
                <h2><script> 
                        var myDate = new Date();
                        if ( myDate.getHours() < 12 )  
                        {document.write("Good morning!");} 
                        else 
                        if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 ) 
                        {document.write("Good afternoon!");} 
                        else if ( myDate.getHours() > 17 && myDate.getHours() <= 24 ) 
                        {document.write("Good evening!");} 
                        else  /* the hour is not between 0 and 24, so something is wrong */
                        {document.write("Hello!");}</script> <i class="fa fa-rocket"></i></h2>
                <p>Hope this semester has been going well so far! We are very excited about the design and competition teams we've just formed. If you didn't get a chance to sign up for a team, we'll be forming more next semester, so you have some more time to apply.</p>
                <p>We'll be having regular meetings on Thursday evenings, with workshops on 3D printing, Raspberry Pi, and Python, so watch your emails for the details!</p>
                <p>Your Design Hub Officers</p>
            </div>
            <div class="six columns"><iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpittdesignhub&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" style="border:none; overflow:hidden; width:500px; height:430px; background: white; float:left; " allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="docs-section" id="subscribe">
    <div class="container u-pull-center">
        <div class="row">
            <p><a class="button button-primary" href="https://goo.gl/forms/MUOyt6BH6cPZoj0L2"><i class="fa fa-pencil-square-o"></i> Review Survey - 11/3</a></p>
            <p><a class="button button-primary" href="https://docs.google.com/forms/d/1_Ww2tlPyzDSVggttQ1mjFWeGlqo-Vf6EtZr9RkQ3MX0/viewform"><i class="fa fa-pencil-square-o"></i> SUBSCRIBE TO THE EMAIL LIST</a></p>

            <p><a class="button button-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSf5skOwFnsKIRoaV2dgB29TwScz69y9LpYWqcP0Kc5Jg8ME0Q/viewform"><i class="fa fa-pencil-square-o"></i> Design Team Applications</a></p>

        <!--<p><a class="button button-primary" href="mailto:htp2@pitt.edu"><i class="fa fa-pencil-square-o"></i> Do you have an idea for a project?</a></p>-->
            
        <!--<p><a class="button button-primary" href="https://www.dropbox.com/s/rr8imrbfasrcsdl/Phalen_Robot_Workshop_2016_Final.pptx?dl=1"> Download the Robotics Workshop Slides</a></p>-->
        <!--<p><a class="button button-primary" href="https://pitt.box.com/s/ufbh9nhhc1ansuzl8505tovyrqneakss"> Download the Robotics Workshop Slides</a></p>-->
        <!--<p><a class="button button-primary" href="https://www.dropbox.com/s/0r74txllhj4nasn/Pandora%2527s%20Box%20%28Robotics%20Part%20III%29.zip?dl=1"> Download the Robotics Workshop Material for Week 3</a></p>-->
        <!--<p><a class="button button-secondary" href="http://goo.gl/forms/wwB7Xj8SJm"> Semester Feedback Form</a></p>-->

        <!--<p><a class="button button-secondary" href="https://pitt.box.com/s/r7rm1c273rwcsfrhr3d6bcnqn6comesu"> SolidWorks Powerpoint</a></p>-->

         <!--<p><a class="button button-secondary" href="https://pitt.app.box.com/s/97sdrb880tvd5rjkftgzg76876s19xbk"> Download SolidWorks files</a></p>-->
            
        <!--<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.579696832199572.1073741828.456933817809208&amp;type=3" data-width="750"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/media/set/?set=a.579696832199572.1073741828.456933817809208&amp;type=3">Posted by <a href="https://www.facebook.com/pittdesignhub/">Pitt Design Hub</a> on&nbsp;<a href="https://www.facebook.com/media/set/?set=a.579696832199572.1073741828.456933817809208&amp;type=3">Thursday, February 4, 2016</a></blockquote></div></div>-->
            
            
        </div>
        <div class="row">
        </div>
        <!-- <p><a class="button button-landing" href="https://www.dropbox.com/s/b75y9r6l6bh8jss/ProjectBoardApplication2015.doc?dl=0" target="_blank">FUND YOUR IDEAS</a></p> -->
    </div>
</div>

<!--
<div class="docs-section" id="calendar">
    <section class="container">
        <div class="row">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Date & Time</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.name}}</td>
                    <td>{{ event.start_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
-->
{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Quick mission statement -->
<div class="docs-section negative" id="about">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <h2>Mission  <i class="fa fa-rocket"></i></h2>
                <p>Design Hub is a meeting place for creative thinkers and an incubator for student inventors. We provide the resources, connections, and skills to help students design a better future. We accomplish this through ideation sessions, educational workshops, hands-on design projects and community outreach.</p>
            </div>
            <div class="four columns">
                <h2>Recent news <i class="fa fa-slack"></i></h2>
                <p><em>{{ slack.user }} said: </em></p>
                <p><em>{{ slack.text }}</em></p>
            </div>
        </div>
    </div>
</div>

<!-- Projects -->
<div class="docs-section" id="projects">
    <div class="container u-pull-center">
        <h2> Past Design Projects </h2>
        <div class="row">
            <div class="six columns">
                <h3> Deep Brain Stimulation </h3>
                <img class="img-responsive" src="assets/img/Deep_Brain_Stimulation_Team.jpg">
                <p> Students develop novel platform for administering cutting-edge deep brain stimulation for the treatment of neurological disease. </p>
            </div>
            <!-- 
            <div class="six columns">
                <h3> M-OCT </h3>
                <img class="img-responsive" src="assets/img/MOCT_Team_Plus3.jpg">
                <p> Students developed novel surgical mount for Optical Coherence Tomography handheld scope which is used at Children's Hospital of Pittsburgh. </p>
            </div>
            -->
            <div class="six columns">
                <h3> Myringotomy Simulator</h3>
                <img class="img-responsive" src="assets/img/myringotomy.png">
                <p> Students develop a myringotomy simulator so that medical residents can practice performing a procedure before they start operating on real patients.</p>
                <p> <a href="finalMyringotomy.html">Check out their website!</a></p>
            </div>

        </div>
<!--
        <p><a class="button button-primary" href="https://docs.google.com/forms/d/1-qpb9VCij0vGABSjlMEbqqFnzMaiEc0VcALto37aSd4/viewform?embedded=true"><i class="fa fa-pencil-square-o"></i> Join a Project</a></p>

        <p><a class="button button-primary" href="mailto:htp2@pitt.edu"><i class="fa fa-pencil-square-o"></i> Do you have an idea for a project?</a></p>
-->
    </div>
</div>

<!-- Opportunities -->
<div class="docs-section negative" id="opportunities">
    <div class="container">
        <div class="row u-pull-center">
            <div class="twelve columns" id="events">
                <h3><i class="fa fa-calendar"></i> Upcoming Events</h3>
                <ul>
                    <!--<li> 9/22 - Breadboarding intro 🍞</li>
                    <li><a href="https://raw.githubusercontent.com/mike-u/DesignHubWeb/master/led.c" target="_blank" download="led.c"> 9/29 - Raspberry Pi 1 🍓</a></li>
                    <li> 10/6 - Raspberry Pi 2 ⚡</li>
                    <li> 10/13 - Raspberry Pi 3 💡</li>
                    <li> 10/20 - Web development 🕸</li>
                    <li> 11/3 - 3D printing / Laser Cutting 🚧</li>
                    <li> 11/10 - No workshop, but <a href="https://www.thalesarduino.com/arduino">check out the Thales competition!</a></li>-->
                    <li> 11/17 - LEGO/Kinex Build 🔨</li>
                </ul>
            </div>
            
            <!--<div class="four columns" id="outreach">
                <!-- Community Outreach 
                <h3><i class="fa fa-users"></i> Community Outreach</h3>


                <h4>Coming soon!</h4>
            </div>-->

            <!--<div class="six columns" id="competitions">


                <h3><i class="fa fa-trophy"></i> Competitions</h3>


                <h4>Form a competition team!</h4>
                <ul>
                    <li>This semester, we want to help people form teams for competitions!</li>
                    <li>We will soon be publishing a list of competitions we will be trying to forms teams for.</li>
                    <li>If you have a competition you're interested in, we can help with organizing teams, prototyping, or practicing presentations.</li>
                </ul>
            </div>-->


        </div>

    </div>
</div>

<!--Resources
<div class="docs-section" id="resources">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <!-- Community Outreach 
                <h3><i class="fa fa-cogs"></i> Make</h3>


                <h4>Arduino</h4>
                <ul>
                    <li><a href="http://arduino.cc/en/Main/Software">Download the Arduino IDE</a></li>
					<li><a href="http://www.fritzing.org/home/">Open-source software to document schematics</a></li>
                </ul>


                <h4>Computer Aided Design</h4>
                <ul>
					<li><a href="http://www.grabcad.com/">Free CAD models in all software packages</a></li>
                    <li><a href="http://www.thingiverse.com/">Download free, open-source models for 3D printing</a></li>
                </ul>

                <h4>Android</h4>
                <ul>
                    <li><a href="http://developer.android.com/sdk/index.html">Download Android Studio</a></li>
                    <li><a href="https://www.mysliderule.com/learning-paths/android/learn/?">Resources for making your first app</a></li>
                </ul>

            </div>

            <div class="six columns">

                <!-- Competitions 
                <h3><i class="fa fa-sitemap"></i> Project Management</h3>

                <!--Big Idea 
                <h4>Organizational Tools</h4>
                <ul>
                    <li><a href="https://www.dropbox.com/s/9hsyy9lu21a7wm4/ESMD%20-%20Project%20Management_2014-2015.pptx?dl=0">Fantastic project management tools</a></li>
                    <li><a href="https://groupme.com/">GroupMe - keep in touch with your team</a></li>
                </ul>

                <h4>Intellectual Property</h4>
                <ul>
                    <li><a href="http://pitt.edu/~esmd/docs/Remes_102013.pdf">IP presentation by Office of Technology Management</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>-->




<!-- Under construction banner -->
<div class="docs-section">
    <div class="container u-pull-center">
        <div class="row value-props">
            <div class="value-prop four columns offset-by-four">
                    <span class="fa-stack fa-lg fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse fa-spin"></i>
                    </span>
                <p>This webpage is under active development. Things might be broken. Please check back soon! We've got the gears turning...</p>
            </div>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
