{% extends "base.html" %}

<!-- Header, welcome, value proposition -->
{% block header %}
<div class="docs-section background-1765" >
    <div class="container">

        <!-- <div class="row">
            <div class="twelve columns">
                <h1 style="color:#FFFFFF"> design, you can </h1>
            </div>
        </div>

        <div class="row">
            <div class="three columns"><h1></h1></div>
            <div class="seven columns">
                <h1 style="color:#FFFFFF"> ~ Yoda </h1>
            </div>
        </div>  -->
        <!--TODO Insert Design Hub slogan on left side of page, Make buttons transparent below-->
        <div class="row value-props">
            <div class="twelve columns">
                <p><a class="button button-landing" href="https://docs.google.com/forms/d/1yLr0kBfO6H1TqFvo_KP694BzzrlIOLq5eTJIIF6JGLM/viewform">SUBSCRIBE</a></p>
                <!-- <p><a class="button button-landing" href="https://www.dropbox.com/s/b75y9r6l6bh8jss/ProjectBoardApplication2015.doc?dl=0" target="_blank">FUND YOUR IDEAS</a></p> -->
            </div>
        </div>

    </div>
</div>
<div class="docs-section" id="calendar">
    <section class="container">
        <div class="row">
            <!-- Table for events -->
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Date & Time</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.name}}</td>
                    <td>{{ event.start_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
<!-- <a class="twitter-timeline" href="https://twitter.com/PittDesignHub" data-widget-id="576474652828176384">Tweets by @PittDesignHub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	-->


</div>
{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Quick mission statement -->
<div class="docs-section negative" id="about">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <h2>Mission  <i class="fa fa-rocket"></i></h2>
                <p>Design Hub is a meeting place for creative thinkers and an incubator for student inventors. We provide the resources, connections, and skills to help students design a better future. We accomplish this through ideation sessions, educational workshops, hands-on design projects and community outreach.</p>
            </div>
            <div class="four columns">
                <h2>Recent news <i class="fa fa-slack"></i></h2>
                <p><em>{{ slack.user }} said {{ slack.text }}</em></p>
            </div>
        </div>
    </div>
</div>

<!-- Projects -->
<div class="docs-section" id="projects">
    <div class="container u-pull-center">
        <h2> Design Projects </h2>
        <div class="row">
            <div class="six columns">
                <h3> Deep Brain Stimulation </h3>
                <img class="img-responsive" src="assets/img/Deep_Brain_Stimulation_Team.jpg">
                <p> Students develop novel platform for administering cutting-edge deep brain stimulation for the treatment of neurological disease. </p>
            </div>

            <div class="six columns">
                <h3> M-OCT </h3>
                <img class="img-responsive" src="assets/img/MOCT_Team_Plus3.jpg">
                <p> Students developed novel surgical mount for Optical Coherence Tomography handheld scope which is used at Children's Hospital of Pittsburgh. </p>
            </div>

            <div class="six columns">
                <h3> Myringotomy Simulator</h3>
                <img class="img-responsive" src="assets/img/myringotomy.png">
                <p> Students develop a myringotomy simulator so that medical residents can practice performing a procedure before they start operating on real patients.</p>
                <p> <a href="finalMyringotomy.html">Check out their website</a></p>
            </div>

        </div>

        <p><a class="button button-primary" href="https://docs.google.com/forms/d/1-qpb9VCij0vGABSjlMEbqqFnzMaiEc0VcALto37aSd4/viewform?embedded=true"><i class="fa fa-pencil-square-o"></i> Join a Project</a></p>
    </div>
</div>

<!-- Opportunities -->
<div class="docs-section negative" id="opportunities">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <!-- Community Outreach -->
                <h3><i class="fa fa-users"></i> Community Outreach</h3>


                <h4><a href="http://women.cs.cmu.edu/technights/" style="text-decoration: none">CMU TechNights</a></h4>
                <ul>
                    <li>Volunteer to teach middle school girls about STEM fields</li>
                    <li>Gates Building, CMU </li>
                    <li>Monday Nights @ 7:30 PM</li>
                </ul>


                <h4><a href="http://www.globallinks.org" style="text-decoration: none">Global Links</a></h4>
                <ul>
                    <li>Refurbish medical equipment to send to developing countries </li>
                    <li>Get volunteer experience in the medical industry</li>
                </ul>

                <h4><a href="http://www.thecitizensciencelab.org/" style="text-decoration: none">Citizen Science Lab</a></h4>
                <ul>
                    <li>Help teach and encourage STEM to economically-disadvantaged kids</li>
                </ul>

            </div>

            <div class="six columns">

                <!-- Competitions -->
                <h3><i class="fa fa-trophy"></i> Competitions</h3>

                <!--Simio-->
                <h4><a href="http://www.simio.com/academics/student-competition.php" style="text-decoration: none">Simio Student Simulation Competition</a></h4>
                <ul>
                    <li>Get great experience modeling solutions to real-world problems!</li>
                    <li>Cash prize of $3,000 to winning team</li>
                    <li>Open to both graduate and undergraduate student teams</li>
                </ul>

                <!--Big Idea -->

                <h4><a href="http://www.innovation.pitt.edu/randall-family-big-idea-competition-2015" style="text-decoration: none">Big Idea Competition</a></h4>
                <ul>
                    <li>Win up to $25,000 for your BIG idea</li>
                    <li>University of Pittsburgh</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!--Resources-->
<div class="docs-section" id="resources">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <!-- Community Outreach -->
                <h3><i class="fa fa-cogs"></i> Make</h3>


                <h4>Arduino</h4>
                <ul>
                    <li><a href="http://arduino.cc/en/Main/Software">Download the Arduino IDE</a></li>
					<li><a href="http://www.fritzing.org/home/">Open-source software to document schematics</a></li>
                </ul>


                <h4>Computer Aided Design</h4>
                <ul>
					<li><a href="http://www.grabcad.com/">Free CAD models in all software packages</a></li>
                    <li><a href="http://www.thingiverse.com/">Download free, open-source models for 3D printing</a></li>
                </ul>

                <h4>Android</h4>
                <ul>
                    <li><a href="http://developer.android.com/sdk/index.html">Download Android Studio</a></li>
                    <li><a href="https://www.mysliderule.com/learning-paths/android/learn/?">Resources for making your first app</a></li>
                </ul>

            </div>

            <div class="six columns">

                <!-- Competitions -->
                <h3><i class="fa fa-sitemap"></i> Project Management</h3>

                <!--Big Idea -->
                <h4>Organizational Tools</h4>
                <ul>
                    <li><a href="https://www.dropbox.com/s/9hsyy9lu21a7wm4/ESMD%20-%20Project%20Management_2014-2015.pptx?dl=0">Fantastic project management tools</a></li>
                    <li><a href="https://groupme.com/">GroupMe - keep in touch with your team</a></li>
                </ul>

                <h4>Intellectual Property</h4>
                <ul>
                    <li><a href="http://pitt.edu/~esmd/docs/Remes_102013.pdf">IP presentation by Office of Technology Management</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!-- Under construction banner -->
<div class="docs-section">
    <div class="container u-pull-center">
        <div class="row value-props">
            <div class="value-prop four columns offset-by-four">
                    <span class="fa-stack fa-lg fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse fa-spin"></i>
                    </span>
                <p>This webpage is under active development. Things might be broken. Please check back soon! We've got the gears turning...</p>
            </div>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
