{% extends "base.html" %}

    <!-- Header, welcome, value proposition -->
{% block header %}
    <div class="docs-section background-1765" >
		<div class="container">

			<div class="row">
				<div class="twelve columns">
				<h1 style="color:#000000"> design, you can </h1>
				</div> 
			</div>
			
			<div class="row">
				<div class="three columns"><h1></h1></div>
				<div class="seven columns">
				<h1 style="color:#000000"> ~ Yoda </h1>
				</div> 
			</div>
			<!--TODO Insert Design Hub slogan on left side of page, Make buttons transparent below--> 
            <div class="row value-props">
				<div class="twelve columns">
                <p><a class="button button-landing" href="https://docs.google.com/forms/d/1yLr0kBfO6H1TqFvo_KP694BzzrlIOLq5eTJIIF6JGLM/viewform">SUBSCRIBE</a></p>
                <p><a class="button button-landing" href="https://www.dropbox.com/s/b75y9r6l6bh8jss/ProjectBoardApplication2015.doc?dl=0" target="_blank">FUND YOUR IDEAS</a></p>
				</div>
			</div>
			
		</div>
	</div>
    <div class="docs-section">
        <section class="container">
            <div class="row">
                <!-- Table for events -->
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>{{ event.name}}</td>
                            <td>{{ event.start_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
		</section>
	</div>
{% endblock %}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Quick mission statement -->
    <div class="docs-section negative" id="about">
        <div class="container">
            <div class="row">
                <div class="nine columns">
                    <h3>Mission  <i class="fa fa-rocket"></i></h3>
                    <p>Design Hub is a meeting place for creative thinkers and an incubator for student inventors. We provide the resources, connections, and skills to help students design a better future. We accomplish this through ideation sessions, educational workshops, hands-on design projects and community outreach.</p>
                    <!--<a class="button button-primary" href="http://pittdesignhub.com/about">Learn more</a>-->
                </div>
            </div>
        </div>
    </div>
	
	<!-- Projects -->
    <div class="docs-section" id="projects">
        <div class="container u-pull-center">
		<h3> Design Projects </h3>
            <div class="row">
                <div class="six columns">
                    <h4> Deep Brain Stimulation </h4>
					<img class="img-responsive" src="assets/img/Deep_Brain_Stimulation_Team.jpg">
					<p> Students develop novel platform for administering cutting-edge deep brain stimulation for the treatment of neurological disease. </p>
                </div>
				
				<div class="six columns">
                    <h4> M-OCT </h4> 
					<img class="img-responsive" src="assets/img/MOCT_Team_Plus3.jpg">
					<p> Students developed novel surgical mount for Optical Coherence Tomography handheld scope which is used at Children's Hospital of Pittsburgh. </p>
                </div>
            </div>
			
			<p><a class="button button-primary" href="https://docs.google.com/forms/d/1-qpb9VCij0vGABSjlMEbqqFnzMaiEc0VcALto37aSd4/viewform?embedded=true"><i class="fa fa-pencil-square-o"></i> Join a Projectt</a></p>
        </div>
    </div>

	<!-- Opportunities -->
    <div class="docs-section negative" id="opportunities">
        <div class="container u-pull-center">
			<h3>Opportunities</h3>
					
					<!-- Community Outreach -->
					<h4><i class="fa fa-users"></i><br>Community Outreach</a></h4>

						<!-- CMU Tech Nights-->
						<div class="row">
						<div class="four columns"> <h4 vertical-align="center"> CMU TechNights</h4> </div> 
						
						<div class="one columns"> 
						<i class="fa fa-users"></i> <br> 
						<i class="fa fa-map-marker"></i> <br> 
						<i class="fa fa-calendar"></i> <br> 
						<i class="fa fa-info"> </i> </div> 
						
						<div class="seven columns">
						<p align="left">
						volunteer to teach middle school girls about STEM fields <br> 
						Gates Building, CMU <br> 
						Monday Nights @ 7:30 PM <br>
						<a href="http://women.cs.cmu.edu/technights/"> Learn More! </a> </p>
						</div>
						</div>
						
						<!--Global Links--> 
						
						<div class="row">
						<div class="four columns"> <h4 vertical-align="center"> Global Links </h4> </div> 
						
						<div class="one columns"> 
						<i class="fa fa-users"></i> <br> 
						<i class="fa fa-map-marker"></i> <br> 
						<i class="fa fa-calendar"></i> <br> 
						<i class="fa fa-info"> </i> </div> 
						
						<div class="seven columns">
						<p align="left">
						refurbish medical equipment to send to developing countries <br> 
						TBD <br> 
						Saturdays...? <br>
						<a href="http://www.globallinks.org"> Learn More! </a> </p>
						</div>
						</div>
						
					<hr>
					
					<!-- Competitions -->
					<h4><i class="fa fa-trophy"></i><br>Competitions</a></h4>

						<!--Big Idea --> 
						
						<div class="row">
						<div class="four columns"> <h4 vertical-align="center"> Big Idea Competition </h4> </div> 
						
						<div class="one columns"> 
						<i class="fa fa-trophy"></i> <br> 
						<i class="fa fa-map-marker"></i> <br> 
						<i class="fa fa-calendar"></i> <br> 
						<i class="fa fa-info"> </i> </div> 
						
						<div class="seven columns">
						<p align="left">
						Win up to $50,000 for your BIG idea <br> 
						University of Pittsburgh <br> 
						Deadline: Feb 15<br>
						<a href="http://www.innovation.pitt.edu/randall-family-big-idea-competition-2015"> Learn More! </a> </p>
						</div>
						</div>
					
						
						<!--Mylan Hackathon--> 
						
						<div class="row">
						<div class="four columns"> <h4 vertical-align="center"> Mylan Hackathon</h4> </div> 
						
						<div class="one columns"> 
						<i class="fa fa-trophy"></i> <br> 
						<i class="fa fa-map-marker"></i> <br> 
						<i class="fa fa-calendar"></i> <br> 
						<i class="fa fa-info"> </i> </div> 
						
						<div class="seven columns">
						<p align="left">
						HACKING is fun! <br> 
						1000 Mylan Blvd. Canonsburg, PA <br> 
						Feb 28 - March 1<br>
						<a href="http://mylanapps.com/hacksummit/"> Learn More! </a> </p>
						</div>
						</div>
					
						
        </div>
    </div>
	
	
	<!-- Under construction banner -->
    <div class="docs-section">
        <div class="container u-pull-center">
            <div class="row value-props">
                <div class="value-prop four columns offset-by-four">
                    <span class="fa-stack fa-lg fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse fa-spin"></i>
                    </span>
                    <p>This webpage is under active development. Things might be broken. Please check back soon! We've got the gears turning...</p>
                </div>
            </div>
        </div>
    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
